<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoldenEye.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F3B5DD71ED6F88D0018E0AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F3B5DEB1ED6F88E0018E0AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F3B5DF61ED6F88E0018E0AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
